body	{
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 24px;
	font-family: arial;
	color: #BFBFBF;
	text-align: center;
	background-color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
	list-style-type: square;
	}
.normal	{
	font-size: 24px;
	padding: 20px;
	}
.important	{
	font-size: 60px;
	padding: 20px;
	}
a:link	{
	color: #BFBFBF;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
	}
a:visited	{
	color: #BFBFBF;
	font-family: arial;
	text-decoration: none;
	}
a:hover
	{
	color: blue;
	}
